.PupplrProfile {
    position: relative;
    width: 100%;
    max-width: 500px;
    border-radius: 40px;
    flex: 1;
  }
  
  .PuppyPicture {
    border-radius: 40px;
  }
  
  .TextContent {
    position: absolute;
    bottom: 3rem;
    left: 2rem;
  }
  
  .TextContent > span {
    display: block;
  }
  
  .Name {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
  }
  
  .Information {
    color: #ff4757;
    font-size: 2rem;
  }