.Restaurant {
    background: #F5f5f5;
    border-radius: 6px;
    padding: 1rem 3rem;
    margin: 2rem 0;
    width: 48rem;
    text-align: left;
  }
  
  .Name {
    background: linear-gradient(45deg, #abe9cd 0%, #3eadcf 74%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1rem 0;
  }
  
  .MenuItems {
  
  }